.git
.gitignore
.github
.venv
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.db
*.sqlite
mlruns
reports
cours
tutos
Archives
frontend/node_modules
frontend/.angular
frontend/dist
node_modules
dist
.DS_Store
